# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VsCode
.vscode/

# Qt Creator AUTO-GENERATED
Codigo_Fuente/Interface/UI/*~
Codigo_Fuente/Interface/UI/*.autosave
Codigo_Fuente/Interface/UI/*.a
Codigo_Fuente/Interface/UI/*.core
Codigo_Fuente/Interface/UI/*.moc
Codigo_Fuente/Interface/UI/*.o
Codigo_Fuente/Interface/UI/*.obj
Codigo_Fuente/Interface/UI/*.orig
Codigo_Fuente/Interface/UI/*.rej
Codigo_Fuente/Interface/UI/*.so
Codigo_Fuente/Interface/UI/*.so.*
Codigo_Fuente/Interface/UI/*_pch.h.cpp
Codigo_Fuente/Interface/UI/*_resource.rc
Codigo_Fuente/Interface/UI/*.qm
Codigo_Fuente/Interface/UI/.#*
Codigo_Fuente/Interface/UI/*.*#
Codigo_Fuente/Interface/UI/core
Codigo_Fuente/Interface/UI/!core/
Codigo_Fuente/Interface/UI/tags
Codigo_Fuente/Interface/UI/.DS_Store
Codigo_Fuente/Interface/UI/.directory
Codigo_Fuente/Interface/UI/*.debug
Codigo_Fuente/Interface/UI/Makefile*
Codigo_Fuente/Interface/UI/*.prl
Codigo_Fuente/Interface/UI/*.app
Codigo_Fuente/Interface/UI/moc_*.cpp
Codigo_Fuente/Interface/UI/ui_*.h
Codigo_Fuente/Interface/UI/qrc_*.cpp
Codigo_Fuente/Interface/UI/Thumbs.db
Codigo_Fuente/Interface/UI/*.res
Codigo_Fuente/Interface/UI/*.rc
Codigo_Fuente/Interface/UI/.qmake.cache
Codigo_Fuente/Interface/UI/.qmake.stash

# qtcreator generated files
Codigo_Fuente/Interface/UI/*.pro.user*

# xemacs temporary files
Codigo_Fuente/Interface/UI/*.flc

# Vim temporary files
Codigo_Fuente/Interface/UI/.*.swp

# Visual Studio generated files
Codigo_Fuente/Interface/UI/*.ib_pdb_index
Codigo_Fuente/Interface/UI/*.idb
Codigo_Fuente/Interface/UI/*.ilk
Codigo_Fuente/Interface/UI/*.pdb
Codigo_Fuente/Interface/UI/*.sln
Codigo_Fuente/Interface/UI/*.suo
Codigo_Fuente/Interface/UI/*.vcproj
Codigo_Fuente/Interface/UI/*vcproj.*.*.user
Codigo_Fuente/Interface/UI/*.ncb
Codigo_Fuente/Interface/UI/*.sdf
Codigo_Fuente/Interface/UI/*.opensdf
Codigo_Fuente/Interface/UI/*.vcxproj
Codigo_Fuente/Interface/UI/*vcxproj.*

# MinGW generated files
Codigo_Fuente/Interface/UI/*.Debug
Codigo_Fuente/Interface/UI/*.Release

# Python byte code
Codigo_Fuente/Interface/UI/*.pyc

# Binaries
# --------
Codigo_Fuente/Interface/UI/*.exe
Codigo_Fuente/Interface/UI/*.dll
